.main-content {
  max-width: 850px;
  margin: 80px auto 0;
  padding: 24px;
  background: #fff;
  color: #222;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
  position: relative;
}

h1 {
  color: #004d7a;
  text-align: center;
  margin-bottom: 18px;
  margin-top: auto;
}

#map {
  height: 350px;
  width: 100%;
  border-radius: 12px;
  margin-bottom: 18px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.buttons {
  text-align: center;
}

.buttons button {
  padding: 12px 20px;
  font-size: 16px;
  background-color: #004d7a;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.buttons button:hover {
  background-color: #007a99;
}

.info-msg {
  text-align: center;
  color: #555;
  margin-bottom: 20px;
}
