* {
  box-sizing: border-box; 
  margin: 0;              
  padding: 0;             
  font-family: 'Inter', Arial, sans-serif; 
}

body {
  background: linear-gradient(to right, #004d7a, #008793); 
  min-height: 100vh;      
  color: #333;            
  font-family: 'Inter', Arial, sans-serif; 
  overflow-x: hidden;     
}

.container {
  background-color: #fff;
  padding: 40px 40px 20px 40px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  width: 90%;
  max-width: 600px;
  margin: 60px auto 0;
  color: #333;
  text-align: center;
}

h1, h2, h3 {
  color: #004d7a;         
  margin-bottom: 32px;    
  text-align: center;     
}

h1 {
  margin-top: -45px;
}

form {
  display: flex;          
  flex-direction: column; 
  gap: 15px;              
}

label {
  text-align: left;       
  font-weight: 600;       
  font-size: 14px;        
}

input, select, textarea {
  padding: 10px;          
  border: 1px solid #ccc; 
  border-radius: 8px;     
  font-size: 14px;        
  font-family: inherit;   
}

button {
  background: #4a90e2;
  color: #fff;
  font-size: 16px;
  padding: 12px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
}

button:hover {
  background: #357ab7;
  transform: scale(1.03);
}


a {
  color: #008793;         
  text-decoration: none;  
}

a:hover {
  text-decoration: underline; 
}

p {
  margin-top: 12px;
  margin-bottom: 2px;
  font-size: 14px;
}


#loginMessage {
  margin-top: 10px;       
  font-weight: bold;      
}

.hidden {
  display: none !important; 
}

.esqueceu-senha-link {
  display: block;
  margin-top: -5px;      
  margin-left: 0;   
  width: fit-content;   
  text-align: left;
  font-size: 14px;
  color: #004d7a; 
  text-decoration: none;
  padding-left: 0;     
}

.esqueceu-senha-link:hover {
  color: #004d7a;
  text-decoration: underline;
}

.img {
width: 130px;
height: auto;
margin-top: -33px;
margin-bottom: -35px;
margin-right: 400px;
}